@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model GalaPage_2022.Pages.Contact.DescargaGratisModel
@{
}
<div class="bg-dark text-white padding60">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3 class="main-title mt-5 text-center">@localizer["Header10"]</h3>
                <h3 class="main-subtitle">@localizer["Header11"]</h3>
                <p class="mt-5">@localizer["txtForm01"]</p>
                <p>@localizer["txtForm02"]</p>
                <div class="text-center m-5">
                    <a class="btn btn-lg btn-success shadow" href="https://api.whatsapp.com/send?phone=5216632073451" target="_blank">
                        <i class="fa fa-whatsapp fs-2" aria-hidden="true"></i>
                        <span class="mx-3">@localizer["btnWhatsAppContact"]</span>
                    </a>
                </div>
            </div>
            <div class="col-md-7">
                <h3 class="m-5 text-center">@localizer["Header12"]</h3>
                <form class="form-floating text-black" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="Contacto.Nombre" id="nombreCliente" placeholder="Nombre" required>
                        <label class="text-muted" for="nombreCliente">@localizer["lblFormName"]</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" asp-for="Contacto.Correo" id="correoCliente" placeholder="name@example.com" required>
                        <label class="text-muted" for="correoCliente">@localizer["lblFormEmail"]</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" asp-for="Contacto.Telefono" id="telefonoCliente" placeholder="Teléfono" required>
                        <label class="text-muted" for="telefonoCliente">@localizer["lblFormPhone"]</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="Contacto.NombreDelNegocio" id="nombreDelNegocio" placeholder="Nombre del Negocio">
                        <label class="text-muted" for="nombreDelNegocio">@localizer["lblFormCompany"]</label>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">@localizer["btnSendContinue"]</button>
                    </div>
                    <p class="lead fs-6 text-muted mt-3">
                        @localizer["txtAcceptConditions01"]
                        <a href="#">@localizer["txtAcceptConditionsLink01"]</a> 
                        @localizer["txtAcceptConditions02"]
                        <a href="#">@localizer["txtAcceptConditionsLink02"]</a>
                    </p>
                </form>
                <p>@localizer["txtNoteFooter01"]</p>
                <p>
                    @localizer["txtNoteFooter02"]
                    <a href="https://download.teamviewer.com/full?src=cookie-banner">@localizer["linkTeamViewer"]</a>
                    @localizer["txtNoteFooter03"]
                    <a href="https://download.teamviewer.com/full?src=cookie-banner">@localizer["linkDownloadTeamViewer"]</a>
                </p>
            </div>
        </div>
    </div>
</div>