@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model GalaPage_2022.Pages.BillingModel
@{
    ViewData["Title"] = "Facturación";
}
<div class="container">
    <div class="row margin60">
        <div class="col-md-8 d-flex flex-column justify-content-center">
            <h3 class="main-title mb-5 text-center">@localizer["Header10"]</h3>
            <p class="lead">@localizer["txtBilling01"]</p>
            <p class="lead">@localizer["txtBilling02"]</p>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img class="w-75" src="/images//PantallaFacturaEnLinea.png" alt="Imagen Principal" />
        </div>
    </div>
</div>
<div class="bg-gray25 py-5">
    <div class="container">
        <div class="row">
            <h3 class="display-6 text-center fw-bold">@localizer["Header20"]</h3>
            <div class="row">
                <div class="card m-2 shadow">
                    <div class="card-body">
                        <h5 class="card-title text-center text-primary">@localizer["HeaderBillingCard01"]</h5>
                        <p class="card-text text-muted">@localizer["txtBillingCard01"]</p>
                    </div>
                </div>
                <div class="card m-2 shadow">
                    <div class="card-body">
                        <h5 class="card-title text-center text-info">@localizer["HeaderBillingCard02"]</h5>
                        <p class="card-text text-muted">@localizer["txtBillingCard02"]</p>
                    </div>
                </div>
                <div class="card m-2 shadow">
                    <div class="card-body">
                        <h5 class="card-title text-center text-primary">@localizer["HeaderBillingCard03"]</h5>
                        <p class="card-text text-muted">@localizer["txtBillingCard03"]</p>
                    </div>
                </div>
                <div class="card m-2 shadow">
                    <div class="card-body">
                        <h5 class="card-title text-center text-info">@localizer["HeaderBillingCard04"]</h5>
                        <p class="card-text text-muted">@localizer["txtBillingCard04"]</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card m-2 shadow">
                    <div class="card-body">
                        <h5 class="card-title text-center text-primary">@localizer["HeaderBillingCard05"]</h5>
                        <p class="card-text text-muted">@localizer["txtBillingCard05"]</p>
                    </div>
                </div>
                <div class="card m-2 shadow">
                    <div class="card-body">
                        <h5 class="card-title text-center text-info">@localizer["HeaderBillingCard06"]</h5>
                        <p class="card-text text-muted">@localizer["txtBillingCard06"]</p>
                    </div>
                </div>
                <div class="card m-2 shadow">
                    <div class="card-body">
                        <h5 class="card-title text-center text-primary">@localizer["HeaderBillingCard07"]</h5>
                        <p class="card-text text-muted">@localizer["txtBillingCard07"]</p>
                    </div>
                </div>
                <div class="card m-2 shadow">
                    <div class="card-body">
                        <h5 class="card-title text-center text-info">@localizer["HeaderBillingCard08"]</h5>
                        <p class="card-text text-muted">@localizer["txtBillingCard08"]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light padding60">
    <div class="container">
        <h3 class="display-6 text-center fw-bold mb-5">@localizer["Header30"]</h3>
        <div class="row">
            <div class="col-md-8 mb-5">
                <p class="lead text-center">@localizer["txtOnlineBilling01"]</p>
                <p class="lead text-center">@localizer["txtOnlineBilling01"]</p>
                <ul class="list-group list-group-flush mt-5">
                    <li class="list-group-item text-muted opacity-75">
                        @localizer["attrOnlineBilling01"]
                    </li>
                    <li class="list-group-item text-muted opacity-75">
                        @localizer["attrOnlineBilling02"]
                    </li>
                    <li class="list-group-item text-muted opacity-75">
                        @localizer["attrOnlineBilling03"]
                    </li>
                    <li class="list-group-item text-muted opacity-75">
                        @localizer["attrOnlineBilling04"]
                    </li>
                    <li class="list-group-item text-muted opacity-75">
                        @localizer["attrOnlineBilling05"]
                    </li>
                    <li class="list-group-item text-muted opacity-75">
                        @localizer["attrOnlineBilling06"]
                    </li>
                    <li class="list-group-item text-muted opacity-75">
                        @localizer["attrOnlineBilling07"]
                    </li>
                    <li class="list-group-item text-muted opacity-75">
                        @localizer["attrOnlineBilling08"]
                    </li>
                </ul>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img class="w-75" src="/images/PantallaFacturaEnLinea.png" alt="Factura Web" />
            </div>
        </div>
    </div>
</div>