@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model GalaPage_2022.Pages.Products.HotelModel
@{
    ViewData["Title"] = "Hotel";
}
<div class="container margin60">
    <!-- Sistema Restaurante -->
    <div class="row">
        <div class="col-md-8">
            <h3 class="main-title text-center">Hotel Gala</h3>
            <h4 class="main-subtitle">@localizer["Header11"]</h4>
            <p class="lead">@localizer["txtHotel01"]</p>
            <p class="lead">@localizer["txtHotel02"]</p>
            <div class="d-flex justify-content-center my-5">
                <a class="btn btn-primary btn-lg btn-block shadow w-50" href="/Contact/Contact">@localizer["btnQuote"]</a>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img class="w-75" src="~/images/PantallaHotel.png" alt="Imagen Software Hotel"/>
        </div>
    </div>
</div>
<!-- Información del Hotel -->
<div class="fondo-cards p-5">
    <div class="container">
        <div class="row my-5 margen-inferior">
            <div class="col-md-4">
                <div class="card text-center shadow p-3 card-blue">
                    <div class="d-flex justify-content-center">
                        <img src="/images/hotel.png" class="card-img-top w-25" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@localizer["HeaderCard01"]</h5>
                        <p class="card-text">@localizer["txtCard01"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center shadow p-3">
                    <div class="d-flex justify-content-center">
                        <img src="/images/reserva.png" class="card-img-top w-25" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@localizer["HeaderCard02"]</h5>
                        <p class="card-text">@localizer["txtCard02"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center shadow p-3 card-blue">
                    <div class="d-flex justify-content-center">
                        <img src="/images/factura.png" class="card-img-top w-25" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@localizer["HeaderCard03"]</h5>
                        <p class="card-text">@localizer["txtCard03"]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--  -->
<div class="bg-black opacity-75 text-white py-5">
    <div class="container">
        <h3 class="display-6 text-center">@localizer["Header20"]</h3>
        <div class="row my-5">
            <div class="col-md-8">
                <h3 class="text-center">@localizer["Header21"]</h3>
                <p>@localizer["txtHousekeeper"]</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted bg-black opacity-75">@localizer["attrHousekeeper01"]</li>
                    <li class="list-group-item text-muted bg-black opacity-75">@localizer["attrHousekeeper02"]</li>
                    <li class="list-group-item text-muted bg-black opacity-75">@localizer["attrHousekeeper03"]</li>
                </ul>
            </div>
            <div class="col-md-4 m-auto">
                <img class="img-thumbnail rounded" src="/images/ControlMermas2.png"/>
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-lg btn-success shadow" href="https://api.whatsapp.com/send?phone=5216632073451" target="_blank">
                <i class="fa fa-whatsapp fs-2" aria-hidden="true"></i>
                <span class="mx-3">Te Podemos Asesorar</span>
            </a>
        </div>
    </div>
</div>
<div class="container py-5">
    <div class="row">
        <h2 class="text-center display-4 mb-5">@localizer["Header30"]</h2>
        <div class="col-md-4">
            <img class="img-thumbnail rounded" src="/images/SistemaEnLaNube.png"/>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6 mt-5">
            <h3 class="text-center">@localizer["Header31"]</h3>
            <p>@localizer["txtCloudHotel"]</p>
        </div>
    </div>
</div>
<div class="bg-gray25 py-5">
    <div class="container">
        <h3 class="text-center display-6">@localizer["Header40"]</h3>
        <div class="row">
            <div class="col-md-6 my-5">
                <h4 class="text-center">@localizer["Header41"]</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted bg-transparent">@localizer["attrRates01"]</li>
                    <li class="list-group-item text-muted bg-transparent">@localizer["attrRates02"]</li>
                    <li class="list-group-item text-muted bg-transparent">@localizer["attrRates03"]</li>
                </ul>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 my-auto">
                <img class="img-thumbnail rounded" src="~/images/Cuarto-Hotel.png"/>
            </div>
        </div>
    </div>
</div>
<div class="container py-5">
    <h3 class="text-center display-6">@localizer["Header50"]</h3>
    <div class="row mt-5">
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">@localizer["HeaderProcessesCard01"]</h4>
                <div class="card-body">
                    <p class="lead">@localizer["txtProcessesCard01"]</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">@localizer["HeaderProcessesCard02"]</h4>
                <div class="card-body">
                    <p class="lead">@localizer["txtProcessesCard02"]</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">@localizer["HeaderProcessesCard03"]</h4>
                <div class="card-body">
                    <p class="lead">@localizer["txtProcessesCard03"]</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">@localizer["HeaderProcessesCard04"]</h4>
                <div class="card-body">
                    <p class="lead">@localizer["txtProcessesCard04"]</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">@localizer["HeaderProcessesCard05"]</h4>
                <div class="card-body">
                    <p class="lead">@localizer["txtProcessesCard04"]</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">@localizer["HeaderProcessesCard06"]</h4>
                <div class="card-body">
                    <p class="lead">@localizer["txtProcessesCard05"]</p>
                </div>
            </div>
        </div>
    </div>
</div>