@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model GalaPage_2022.Pages.Products.RestaurantModel
@{
    ViewData["Title"] = "Restaurante";
}
<div class="container margin60">
    <!-- Sistema Restaurante -->
    <div class="row">
        <div class="col-md-8">
            <h3 class="main-title text-center">Amigo Restaurante</h3>
            <h4 class="main-subtitle">@localizer["Header11"]</h4>
            <p class="lead">@localizer["txtRest01"]</p>
            <div class="row my-5">
                <div class="col-6">
                    @*<a class="btn btn-outline-primary shadow" asp-area="" asp-page="/Contact/DescargaGratis">Descarga 1 Mes Gratis</a>*@
                </div>
                <div class="col-6 d-grid gap-3">
                    <a class="btn btn-warning btn-block shadow" asp-area="" asp-page="/Contact/Contact">@localizer["btnDemo"]</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row justify-content-center">
                <img class="w-75" src="~/images/PantallaRestaurante.png" alt="Imagen Software Restaurante"/>
            </div>
        </div>
    </div>
    <!-- Información de Restaurante -->
    <div class="row my-5">
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 rounded">
                <div class="card-header text-center fs-3 bg-primary bg-opacity-50">
                    @localizer["HeaderCardInventories"]
                </div>
                <div class="card-body">
                    <p class="fw-bold fs-5">@localizer["TextCardInventories"]</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">@localizer["CardInventories01"]</li>
                        <li class="list-group-item text-muted">@localizer["CardInventories02"]</li>
                        <li class="list-group-item text-muted">@localizer["CardInventories03"]</li>
                        <li class="list-group-item text-muted">@localizer["CardInventories04"]</li>
                        <li class="list-group-item text-muted">@localizer["CardInventories05"]</li>
                        <li class="list-group-item text-muted">@localizer["CardInventories06"]</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 rounded">
                <div class="card-header text-center fs-3 bg-success bg-opacity-50">
                    @localizer["HeaderCardDishes"]
                </div>
                <div class="card-body">
                    <p class="fw-bold fs-5">@localizer["TextCardDishes"]</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">@localizer["CardDishes01"]</li>
                        <li class="list-group-item text-muted">@localizer["CardDishes02"]</li>
                        <li class="list-group-item text-muted">@localizer["CardDishes03"]</li>
                        <li class="list-group-item text-muted">@localizer["CardDishes04"]</li>
                        <li class="list-group-item text-muted">@localizer["CardDishes05"]</li>
                        <li class="list-group-item text-muted">@localizer["CardDishes06"]</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 rounded">
                <div class="card-header text-center fs-3 bg-primary bg-opacity-50">
                    @localizer["HeaderCardForecasts"]
                </div>
                <div class="card-body">
                    <p class="fw-bold fs-5">@localizer["TextCardForecasts"]</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">@localizer["CardForecasts01"]</li>
                        <li class="list-group-item text-muted">@localizer["CardForecasts02"]</li>
                        <li class="list-group-item text-muted">@localizer["CardForecasts03"]</li>
                        <li class="list-group-item text-muted">@localizer["CardForecasts04"]</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 rounded">
                <div class="card-header text-center fs-3 bg-success bg-opacity-50">
                    @localizer["HeaderCardPermissions"]
                </div>
                <div class="card-body">
                    <p class="fw-bold fs-5">@localizer["TextCardPermissions"]</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">@localizer["CardPermissions01"]</li>
                        <li class="list-group-item text-muted">@localizer["CardPermissions02"]</li>
                        <li class="list-group-item text-muted">@localizer["CardPermissions03"]</li>
                        <li class="list-group-item text-muted">@localizer["CardPermissions04"]</li>
                        <li class="list-group-item text-muted">@localizer["CardPermissions05"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--  -->
<div class="bg-black opacity-75 text-white py-5">
    <div class="container">
        <h3 class="display-6 text-center">@localizer["Header20"]</h3>
        <div class="row my-5">
            <div class="col-md-8 mb-3">
                <h3 class="text-center">@localizer["Header21"]</h3>
                <p>@localizer["txtWaste01"]</p>
                <p>@localizer["txtWaste02"]</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted bg-black opacity-75">@localizer["attrWaste01"]</li>
                    <li class="list-group-item text-muted bg-black opacity-75">@localizer["attrWaste02"]</li>
                    <li class="list-group-item text-muted bg-black opacity-75">@localizer["attrWaste03"]</li>
                    <li class="list-group-item text-muted bg-black opacity-75">@localizer["attrWaste04"]</li>
                    <li class="list-group-item text-muted bg-black opacity-75">@localizer["attrWaste05"]</li>
                    <li class="list-group-item text-muted bg-black opacity-75">@localizer["attrWaste06"]</li>
                </ul>
            </div>
            <div class="col-md-4 m-auto">
                <img class="img-thumbnail rounded" src="/images/ControlMermas2.png" />
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-lg btn-success shadow" href="https://api.whatsapp.com/send?phone=5216632073451" target="_blank">
                <i class="fa fa-whatsapp fs-2" aria-hidden="true"></i>
                <span class="mx-3">@localizer["btnWhatsAppAsesoria"]</span>
            </a>
        </div>
    </div>
</div>
<div class="container py-3">
    <div class="row margin60">
        <h2 class="text-center display-4 mb-5">@localizer["Header30"]</h2>
        <div class="col-md-4">
            <img class="img-thumbnail rounded" src="/images/SistemaEnLaNube.png"/>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6 mt-5">
            <h3 class="text-center">@localizer["Header31"]</h3>
            <p>@localizer["txtCloud"]</p>
            <p></p>
        </div>
    </div>
</div>
<div class="bg-gray25 py-5">
    <div class="container">
        <h3 class="text-center display-6">@localizer["Header40"]</h3>
        <div class="row">
            <div class="col-md-6 my-5">
                <h4 class="text-center">@localizer["Header41"]</h4>
                <p>@localizer["txtInventories"]</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted bg-transparent">@localizer["attrInventories01"]</li>
                    <li class="list-group-item text-muted bg-transparent">@localizer["attrInventories02"]</li>
                    <li class="list-group-item text-muted bg-transparent">@localizer["attrInventories03"]</li>
                    <li class="list-group-item text-muted bg-transparent">@localizer["attrInventories04"]</li>
                    <li class="list-group-item text-muted bg-transparent">@localizer["attrInventories05"]</li>
                </ul>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 my-auto">
                <img class="img-thumbnail rounded" src="~/images/Inventarios.png"/>
            </div>
        </div>
    </div>
</div>
<div class="container padding60">
    <h3 class="text-center display-6 mb-5">@localizer["Header50"]</h3>
    <div class="row mt-2">
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">@localizer["HeaderProcessCard01"]</h4>
                <div class="card-body">
                    <p class="lead">@localizer["txtProcessCard01"]</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">@localizer["HeaderProcessCard02"]</h4>
                <div class="card-body">
                    <p class="lead">@localizer["txtProcessCard02"]</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">@localizer["HeaderProcessCard03"]</h4>
                <div class="card-body">
                    <p class="lead">@localizer["txtProcessCard03"]</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">@localizer["HeaderProcessCard04"]</h4>
                <div class="card-body">
                    <p class="lead">@localizer["txtProcessCard04"]</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">@localizer["HeaderProcessCard05"]</h4>
                <div class="card-body">
                    <p class="lead">@localizer["txtProcessCard05"]</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">@localizer["HeaderProcessCard06"]</h4>
                <div class="card-body">
                    <p class="lead">@localizer["txtProcessCard06"]</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">@localizer["HeaderProcessCard07"]</h4>
                <div class="card-body">
                    <p class="lead">@localizer["txtProcessCard07"]</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 mb-2">
            <div class="card shadow">
                <h4 class="card-header bg-body text-light">@localizer["HeaderProcessCard08"]</h4>
                <div class="card-body">
                    <p class="lead">@localizer["txtProcessCard08"]</p>
                </div>
            </div>
        </div>
    </div>
</div>
