@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model GalaPage_2022.Pages.Products.SalesWebPageModel
@{
    ViewData["Title"] = "eCommerce";
}
<div class="bg-dark">
    <div class="container padding60">
        <div class="col-8 mx-auto">
            <h2 class="main-title text-light">@localizer["Header10"]</h2>
            <p class="lead text-light">@localizer["txtOnlineRestaurant"]</p>
        </div>
    </div>
</div>
<div class="bg-gray25">
    <div class="container padding60">
        <h3 class="main-subtitle text-center text-capitalize">@localizer["Header20"]</h3>
        <div class="row">
            <div class="col-md-6">
                <img src="~/images/PantallaWebPage01.png" class="rounded mx-auto w-50 margin60" alt="Aplicación Web" />
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <h3>@localizer["Header21"]</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@localizer["attrWebDelivery01"]</li>
                        <li class="list-group-item">@localizer["attrWebDelivery02"]</li>
                        <li class="list-group-item">@localizer["attrWebDelivery03"]</li>
                        <li class="list-group-item">@localizer["attrWebDelivery04"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-mapa">
    <div class="container padding100">
        <h3 class="display-6 text-center mb-5">@localizer["Header30"]</h3>
       <div class="row">
           <div class="col-md-7">
                <p>@localizer["txtPortalWeb"]</p>
                <div>
                    <h3>@localizer["Header31"]</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-gray25">@localizer["attrPortalWeb01"]</li>
                        <li class="list-group-item bg-gray25">@localizer["attrPortalWeb02"]</li>
                        <li class="list-group-item bg-gray25">@localizer["attrPortalWeb03"]</li>
                        <li class="list-group-item bg-gray25">@localizer["attrPortalWeb04"]</li>
                        <li class="list-group-item bg-gray25">@localizer["attrPortalWeb05"]</li>
                        <li class="list-group-item bg-gray25">@localizer["attrPortalWeb06"]</li>
                        <li class="list-group-item bg-gray25">@localizer["attrPortalWeb07"]</li>
                        <li class="list-group-item bg-gray25">@localizer["attrPortalWeb08"]</li>
                    </ul>
                </div>
           </div>
           <div class="col-md-5 d-flex justify-content-center align-items-center">
                <img class="w-50 shadow" src="~/images/CelularWebPageUbicacion.webp" alt="Ubicación Celular" />
           </div>
       </div>
    </div>
</div>
<div class="bg-light padding100">
    <div class="container">

    </div>
</div>