@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model GalaPage_2022.Pages.Products.WarehouseModel
@{
    ViewData["Title"] = "Almacén";
}
<div class="container margin60">
    <!-- Sistema Restaurante -->
    <div class="row">
        <div class="col-md-8 mb-3">
            <h3 class="main-title text-center margin60">Amigo Almacén</h3>
            <h4 class="main-subtitle">@localizer["Header11"]</h4>
            <p class="lead fw-normal">@localizer["txtWarehouse01"]</p>
            <p class="lead fw-normal">@localizer["txtWarehouse02"]</p>
            <h4 class="main-subtitle text-center margin60">@localizer["priceWarehouse"]<span class="fw-bolder fs-1">$1,599.00 m.n.</span></h4>
            <div class="d-flex justify-content-center my-5">
                <a class="btn btn-primary btn-lg btn-block shadow w-50" href="/Contact/Contact">@localizer["btnContact"]</a>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img class="w-75" src="~/images/PantallaAlmacen.png" alt="Imagen Software Restaurante"/>
        </div>
    </div>
    <!-- Información de Almacén -->
    <div class="row my-5">
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 rounded">
                <div class="card-header text-center fs-3 bg-primary bg-opacity-50">
                    @localizer["HeaderWarehouseCard01"]
                </div>
                <div class="card-body">
                    <p class="fw-bold fs-5">@localizer["txtWarehouseCard01"]</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">@localizer["attrWarehouseForecasts01"]</li>
                        <li class="list-group-item text-muted">@localizer["attrWarehouseForecasts02"]</li>
                        <li class="list-group-item text-muted"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 rounded">
                <div class="card-header text-center fs-3 bg-success bg-opacity-50">
                    @localizer["HeaderWarehouseCard02"]
                </div>
                <div class="card-body">
                    <p class="fw-bold fs-5">@localizer["txtWarehouseCard02"]</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">@localizer["attrWarehousePermissions01"]</li>
                        <li class="list-group-item text-muted">@localizer["attrWarehousePermissions02"]</li>
                        <li class="list-group-item text-muted">@localizer["attrWarehousePermissions03"]</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 rounded">
                <div class="card-header text-center fs-3 bg-primary bg-opacity-50">
                    @localizer["HeaderWarehouseCard03"]
                </div>
                <div class="card-body">
                    <p class="fw-bold fs-5">@localizer["txtWarehouseCard03"]</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">@localizer["attrWarehouseInventories01"]</li>
                        <li class="list-group-item text-muted">@localizer["attrWarehouseInventories02"]</li>
                        <li class="list-group-item text-muted">@localizer["attrWarehouseInventories03"]</li>
                        <li class="list-group-item text-muted">@localizer["attrWarehouseInventories04"]</li>
                        <li class="list-group-item text-muted">@localizer["attrWarehouseInventories05"]</li>
                        <li class="list-group-item text-muted">@localizer["attrWarehouseInventories06"]</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow p-3 mb-5 rounded">
                <div class="card-header text-center fs-3 bg-success bg-opacity-50">
                    @localizer["HeaderWarehouseCard04"]
                </div>
                <div class="card-body">
                    <p class="fw-bold fs-5">@localizer["txtWarehouseCard04"]</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">@localizer["attrWarehouseProcess01"]</li>
                        <li class="list-group-item text-muted">@localizer["attrWarehouseProcess02"]</li>
                        <li class="list-group-item text-muted">@localizer["attrWarehouseProcess03"]</li>
                        <li class="list-group-item text-muted">@localizer["attrWarehouseProcess04"]</li>
                        <li class="list-group-item text-muted">@localizer["attrWarehouseProcess05"]</li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>
    <!--  -->
<div class="bg-black opacity-75 text-white py-5">
    <div class="container">
        <h3 class="display-6 text-center">@localizer["Header20"]</h3>
        <div class="row my-5">
            <div class="col-md-8 mb-3">
                <h3 class="text-center">@localizer["Header21"]</h3>
                <p>@localizer["txtRawMaterial01"]</p>
                <p>@localizer["txtRawMaterial02"]</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted bg-black opacity-75">@localizer["attrRawMaterial01"]</li>
                    <li class="list-group-item text-muted bg-black opacity-75">@localizer["attrRawMaterial02"]</li>
                    <li class="list-group-item text-muted bg-black opacity-75">@localizer["attrRawMaterial03"]</li>
                    <li class="list-group-item text-muted bg-black opacity-75">@localizer["attrRawMaterial04"]</li>
                    <li class="list-group-item text-muted bg-black opacity-75">@localizer["attrRawMaterial05"]</li>
                </ul>
            </div>
            <div class="col-md-4 m-auto">
                <img class="img-thumbnail rounded" src="/images/ControlMermas2.png" />
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-lg btn-success shadow" href="https://api.whatsapp.com/send?phone=5216632073451" target="_blank">
                <i class="fa fa-whatsapp fs-2" aria-hidden="true"></i>
                <span class="mx-3">@localizer["btnAdviseYou"]</span>
            </a>
        </div>
    </div>
</div>
<div class="container py-5">
    <div class="row">
        <h2 class="text-center display-4 mb-5">@localizer["Header30"]</h2>
        <div class="col-md-4">
            <img class="img-thumbnail rounded" src="/images/SistemaEnLaNube.png"/>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6 mt-5">
            <h3 class="text-center">@localizer["Header31"]</h3>
            <p>@localizer["txtCloudWaregouse"]</p>
            <p></p>
        </div>
    </div>
</div>
<div class="bg-gray25 py-5">
    <div class="container">
        <h3 class="text-center display-6">@localizer["Header40"]</h3>
        <div class="row">
            <div class="col-md-6 my-5">
                <h4 class="text-center">@localizer["Header41"]</h4>
                <p>@localizer["txtOrders"]</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted bg-transparent">@localizer["attrOrders01"]</li>
                    <li class="list-group-item text-muted bg-transparent">@localizer["attrOrders02"]</li>
                    <li class="list-group-item text-muted bg-transparent">@localizer["attrOrders03"]</li>
                    <li class="list-group-item text-muted bg-transparent">@localizer["attrOrders04"]</li>
                    <li class="list-group-item text-muted bg-transparent">@localizer["attrOrders05"]</li>
                </ul>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 my-auto">
                <img class="img-thumbnail rounded" src="~/images/Inventarios.png"/>
            </div>
        </div>
    </div>
</div>